* {
margin: 0;
padding: 0;
outline: 0;
border-radius: 0;
border: 0;
box-sizing: border-box;
transition: 1s;
font-family: roboto;
transition: .5s;
text-decoration: none;
font-size: 16px;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }

.feh {
background: url(./bg/bg_00.jpg);
background-size: cover;
}

	.wrapper {
	background: var(--bg-tr);
	position: relative;
	}

		.wrapper::after,
		.wrapper::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		z-index: -1;
		width: 50%;
		height: 100vh;
		background: var(--bg-tr);
		backdrop-filter: blur( .3rem );
		}

		.wrapper::after {
		left: 0;
  		clip-path: polygon(0px 0px, 47.08% 0, 88.44% 100%, 0px 100%);
		}

		.wrapper::before {
		right: 0;
  		clip-path: polygon(185px 0, 100% 0, 100% 100.00%, 236px 100%);
		}

.scheme-plane {
position: fixed;
top: 2rem;
left: 2rem;
background: var(--bg);
width: 15rem;
height: calc( 100% - 4rem );
box-shadow: 0 0 .5rem var( --shd );
border-radius: .2rem;
transform: translateY( 110% );
}

	.scheme-plane--active {
	transform: translateY( 0 );
	}

	.scheme__btn {
	display: block;
	background: var(--bg);
	color: var(--fg);
	padding: 1rem 1.5rem;
	width: 100%;
	}

	.scheme__btn:hover {
	background: var( --bg2 );
	}

	.scheme__btn--active {
	border-left: .2rem solid var(--fg-a);
	}

.main {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 1200px;
height: 100vh;
margin: 0 auto;
}

	.search {
	background: var(--bg);
	color: var( --fg );
	box-shadow: 0 0 .5rem var( --shd );
	padding: 1rem 1.5rem;
	width: 80%;
	border-radius: .2rem;	
	}
	
	.search:hover,
	.search:focus {
	box-shadow: 0 0 .5rem var( --fg );
	width: 90%;
	}

	.row,
	.clock {
	display: flex;
	justify-content: center;
	padding: 3rem 0;
	}
	
	.row {
	background: var(--bg);
	width: 100%;
	border-radius: .2rem;
	box-shadow: 0 0 .5rem var( --shd );
	}
	

	.clock {
	flex-direction: column;
	color: var( --fg-a );
	text-shadow: var( --shd );
	text-align: center;
	}

		.clock-js {
		font-size: 6rem;
		}

		.js-data {
		font-size: 2rem;
		}
	
		.col {
		background: var(--bg2);
		border-radius: .2rem;
		min-width: 15rem;
		padding: 2rem .5rem;
		margin: .5rem;
		}
		
				.col:hover {
				box-shadow: 0 0 .5rem var( --fg );
				}
				
				a {
				display: block;
				color: var( --fg );
				text-align: center;
				padding: .5rem 0;
				}
				
				a:hover {
				color: var( --fg-a );
				background: var( --bg );
				}
		
			.cat-name {
			color: var( --fg );
			font-size: 2rem;
			text-align: center;
			padding: 1rem 0 2rem 0;
			border-bottom: .2rem solid var( --fg-a );
			}
